
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myComentarioLabel" translate="ecofruitApp.comentario.home.createOrEditLabel">Create or edit a Comentario</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.comentario.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.comentario.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ecofruitApp.comentario.texto" for="field_texto">Texto</label>
                <textarea class="form-control" name="texto" id="field_texto"
                    ng-model="vm.comentario.texto" required />
            <div ng-show="editForm.texto.$invalid">
                <p class="help-block"
                    ng-show="editForm.texto.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="ecofruitApp.comentario.fecha" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.comentario.fecha" is-open="vm.datePickerOpenStatus.fecha"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="ecofruitApp.comentario.receta" for="field_receta">Receta</label>
            <select class="form-control" id="field_receta" name="receta" ng-model="vm.comentario.receta" ng-options="receta as receta.nombre for receta in vm.recetas track by receta.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="ecofruitApp.comentario.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.comentario.user" ng-options="user as user.firstName for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
