
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myRecetaLabel" translate="ecofruitApp.receta.home.createOrEditLabel">Create or edit a Receta</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.receta.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.receta.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ecofruitApp.receta.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.receta.nombre"
                    required />
            <div ng-show="editForm.nombre.$invalid">
                <p class="help-block"
                    ng-show="editForm.nombre.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="ecofruitApp.receta.descripcion" for="field_descripcion">Descripcion</label>
                <textarea class="form-control" name="descripcion" id="field_descripcion"
                    ng-model="vm.receta.descripcion"  />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagen($file, vm.receta)" ngf-pattern="'image/*'">
            <label class="control-label" translate="ecofruitApp.receta.imagen" for="field_imagen">Imagen</label>
            <div>
                <img data-ng-src="{{'data:' + vm.receta.imagenContentType + ';base64,' + vm.receta.imagen}}" style="max-height: 100px;" ng-if="vm.receta.imagen"/>
                <div ng-if="vm.receta.imagen" class="help-block clearfix">
                    <span class="pull-left">{{vm.receta.imagenContentType}}, {{vm.byteSize(vm.receta.imagen)}}</span>
                    <button ng-click="vm.receta.imagen=null;vm.receta.imagenContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagen($file, vm.receta)" accept="image/*" translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                    ng-model="vm.receta.imagen"
                     />
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                    ng-model="vm.receta.imagenContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" translate="ecofruitApp.receta.fecha" for="field_fecha">Fecha</label>
                <div class="input-group">
                    <input id="field_fecha" type="text" class="form-control" name="fecha" datetime-picker="{{dateformat}}" ng-model="vm.receta.fecha" is-open="vm.datePickerOpenStatus.fecha"
                      />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fecha')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label translate="ecofruitApp.receta.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.receta.user" ng-options="user as user.firstName for user in vm.users track by user.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
